body {
  text-align: center;
  background-color: #121013;
  margin:0;
}

h1 {
  font-size: 5rem;
  color: #ec4646;
  font-family: 'Monoton', cursive;
  text-shadow: 3px 0 #ffe227;

}

h2 {
  font-size: 4rem;
  color: white;
  font-family: sans-serif;
}

footer {
  background-color: #ffe227;
  bottom: 0;
  color: #ec4646;
  font-family: sans-serif;
  padding: 5%;
  text-align: center;
  width: 100%;
}

.w {
background-image: url("images/crash.png");
}

.a {
background-image: url("images/kick.png");
}

.s {
background-image: url("images/snare.png");
}

.d {
background-image: url("images/tom1.png");
}

.j {
background-image: url("images/tom2.png");
}

.k {
background-image: url("images/tom3.png");
}

.l {
background-image: url("images/tom4.png");
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #ffe227;
  font-size: 4.5rem;
  font-family: 'Rock Salt', cursive;
  line-height: 2;
  font-weight: 900;
  color: #ec4646;
  text-shadow: 3px 0 #121013;
  border-radius: 15px;
  display: inline-block;
  width: 125px;
  height: 125px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
